/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 80em) minmax(1em, 1fr);
  min-height: 100vh;
  width: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--bkg-color);
  color: var(--text-color);
  font-family: var(--ff-titillium);
  font-size: 100%;
}
/* Remove styles from a elements */
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--accent-color);
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove default button & fieldset styles */
button,
fieldset {
  border: none;
  background: none;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--accent-color);
}
body::-webkit-scrollbar-track {
  /* Background */
  background: var(--bkg-color);
}
:root {
  --cream: 250, 243, 221;
  --darkBlue: 24, 25, 37;
  --bkg-dark: rgba(var(--darkBlue));
  --bkg-light: rgba(var(--cream));
  --bkg-alpha-dark: rgba(var(--darkBlue), 0.9);
  --bkg-alpha-light: rgba(var(--cream), 0.9);
  --text-color: #222;
  --text-accent: #f8f8ff;
  --bkg-color: var(--bkg-light);
  --bkg-alpha: var(--bkg-alpha-light);
  --bkg-color-toggle: #181925;
  --accent-bkg: #efe7be;
  --accent-color: #9d29ba;
  --illustration-primary: #222;
  --illustration-secondary: #9d29ba;
  --orange: #eca928;
  --yellow: #edde4c;
  --red: #fd689a;
  --pinkPurple: #ca4deb;
  --purple: #b22cff;
  --lightBlue: #19dcea;
  --squirrel: #707070;
  --squirrelAccents: #cdcdcd;
  --white: rgb(255, 255, 255);
  --black: #000000;
  --bar-width: 32px;
  --bar-height: 2.5px;
  --bar-spacing: 8px;
  --ff-josefin: "Josefin Sans", sans-serif;
  --ff-titillium: "Titillium Web", sans-serif;
  --fs-body: clamp(1rem, 3vw, 1.25rem);
  --fs-xxs: clamp(0.5rem, 5vw, 0.75rem);
  --fs-xs: clamp(0.75rem, 5vw, 0.9rem);
  --fs-sm: clamp(1.25rem, 2.75vw, 1.75rem);
  --fs-med: clamp(1.425rem, 5vw, 3rem);
  --fs-lg: clamp(1.5rem, 8vw, 6.125rem);
}
[data-theme=dark] {
  --text-color: #f8f8ff;
  --text-accent: #222;
  --bkg-color: var(--bkg-dark);
  --bkg-alpha: var(--bkg-alpha-dark);
  --accent-bkg: #2c2e44;
  --accent-color: #c2e812;
  --illustration-primary: #c2e812;
  --illustration-secondary: #f8f8ff;
  --squirrel: #707070;
  --squirrelAccents: #cdcdcd;
}
[data-theme=dark] .logo {
  filter: invert(100%);
}
.underline {
  position: relative;
  font-weight: 700;
  box-sizing: border-box;
}
.underline:hover {
  color: var(--text-accent);
}
.underline::after {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 0.2em;
  left: 0;
  bottom: -2%;
  transition: all 0.25s ease-in;
  z-index: -1000;
}
.underline:hover::after {
  height: 100%;
}
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-15 23:29:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-5x {
  0% {
    background: var(--lightBlue);
  }
  25% {
    background: var(--purple);
  }
  50% {
    background: var(--red);
  }
  75% {
    background: var(--yellow);
  }
  100% {
    background: var(--orange);
  }
}
@keyframes color-change-5x {
  0% {
    background: var(--lightBlue);
  }
  25% {
    background: var(--purple);
  }
  50% {
    background: var(--red);
  }
  75% {
    background: var(--yellow);
  }
  100% {
    background: var(--orange);
  }
}
.wave {
  -webkit-animation: wave 2.5s infinite;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-1-5 17:32:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cut-bottom {
  20%, 60% {
    -webkit-transform: rotate(-30deg) scaleY(-1);
    transform: rotate(-30deg) scaleY(-1);
  }
  40%, 80% {
    -webkit-transform: rotate(-5deg) scaleY(-1);
    transform: rotate(-5deg) scaleY(-1);
  }
}
@keyframes cut-top {
  20%, 60% {
    -webkit-transform: rotate(30deg) scaleY(1);
    transform: rotate(30deg) scaleY(1);
  }
  40%, 80% {
    -webkit-transform: rotate(5deg) scaleY(1);
    transform: rotate(5deg) scaleY(1);
  }
}
@keyframes soundwaves {
  0% {
    height: 2.5vmin;
  }
  50% {
    height: 5vmin;
  }
  100% {
    height: 0.5vmin;
  }
}
h1,
h3,
h4 {
  font-family: var(--ff-josefin);
}
h1 {
  line-height: 0.9;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  line-height: 1.2;
  letter-spacing: -1px;
}
p {
  font-size: var(--fs-body);
}
.fs-xl {
  font-size: var(--fs-xl);
}
.fs-lg {
  font-size: var(--fs-lg);
  font-weight: 800;
}
.fs-med {
  font-size: var(--fs-med);
}
.fs-sm {
  font-size: var(--fs-sm);
}
.fs-xs {
  font-size: var(--fs-xs);
}
.fs-xxs {
  font-size: var(--fs-xxs);
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.ltr-space {
  letter-spacing: 2px;
}
.ltr-space3 {
  letter-spacing: -3px;
}
.ltr-space5 {
  letter-spacing: -5px;
}
.upper {
  text-transform: uppercase;
}
.emoji {
  font-size: 2rem;
}
.about-text p:first-of-type,
.about-text p:last-of-type {
  font-weight: bold;
}
.thanks-header {
  line-height: 1.5;
}
header,
footer {
  grid-column: 1/-1;
}
.flex {
  display: flex;
}
.margin-left {
  margin-left: 0.5em;
}
.logo {
  background-image: url(DSP-logo-black.2d7b4e55.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
nav {
  flex-direction: row;
  align-items: center;
  padding: 2.5em 3em;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bkg-alpha);
}
main {
  grid-column: 2/-2;
  padding-inline: clamp(0px, 5vw, 3.75rem);
}
section {
  margin-top: 9em;
  scroll-margin-top: 100px;
}
@media (min-width: 56em) {
  section {
    margin-top: 12em;
    scroll-margin-top: 120px;
  }
}
@media (min-width: 90em) {
  section {
    margin-top: 15em;
  }
}
.hero {
  margin-top: 14em;
  display: grid;
  grid-template-columns: max-content 1.25fr;
}
@media (min-width: 40em) {
  .hero {
    margin-top: 22em;
  }
}
@media (min-width: 56em) {
  .hero {
    padding-inline: 2.5em;
  }
}
.hero-title {
  place-self: center;
}
.hero-subtitle {
  grid-column: 1/-1;
}
.hero-btn {
  margin-top: 1.5em;
  grid-column: 1/-1;
  place-self: center;
}
.about-grid {
  display: grid;
}
@media (min-width: 40em) {
  .about-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    row-gap: 1em;
    grid-template-areas: "title title title" "text text photo";
  }
}
@media (min-width: 56em) {
  .about-grid {
    grid-template-areas: "title title photo" "text text photo";
  }
}
@media (min-width: 40em) {
  .about-header {
    grid-area: title;
  }
}
.about-image {
  height: 50vh;
  width: 100%;
  margin: 4em auto;
  background-position-x: center;
  background-image: url(originaldsp.fc7102ca.jpeg);
  background-repeat: no-repeat;
  background-size: 90%;
  filter: grayscale(100%);
  transform: rotate(5deg);
}
@media (min-width: 40em) {
  .about-image {
    grid-area: photo;
    margin-top: 3em;
    transform: rotate(5deg) translateY(-25px);
  }
}
.about-image:hover {
  transform: rotate(0deg) scale(1.1);
  filter: none;
}
@media (min-width: 40em) {
  .about-text {
    padding-right: 3em;
    grid-area: text;
  }
}
@media (min-width: 56em) {
  .about-text {
    margin-top: 1em;
    padding-right: 8em;
  }
}
.about-text p {
  margin-top: 1.5em;
}
.work > p {
  margin-top: 1.5em;
}
.cards-grid {
  margin-top: 4em;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "video" "strapline" "first" "second" "third" "fourth" "last";
  gap: 1em;
}
@media (min-width: 40em) {
  .cards-grid {
    grid-template-areas: "video video video" "strapline strapline strapline" "last first first" "second first first" "third fifth fourth";
  }
}
@media (min-width: 56em) {
  .cards-grid {
    grid-template-areas: "video video video" "strapline strapline strapline" "first second third" "last fourth fourth" "fifth fourth fourth";
  }
}
.card-video {
  grid-area: video;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.card-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cards-grid h4 {
  grid-area: strapline;
  text-align: center;
  padding-block: 4em;
}
.card:nth-of-type(2) {
  grid-area: first;
}
.card:nth-of-type(3) {
  grid-area: second;
}
.card:nth-of-type(4) {
  grid-area: third;
}
.card:nth-of-type(5) {
  grid-area: fourth;
}
.card:nth-of-type(6) {
  grid-area: last;
}
.card {
  display: grid;
}
.card > * {
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 5px;
}
.card-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
@media (min-width: 40em) {
  .card-img {
    aspect-ratio: 1/1.25;
  }
}
.card-content {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-family: var(--ff-josefin);
  font-weight: 800;
  color: #f8f8ff;
  cursor: pointer;
  transition: all 0.5ms ease-in-out;
}
@media (min-width: 40em) {
  .card-content {
    text-align: center;
    padding-inline: 1.25em;
  }
}
.card-content:focus,
.card-content:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.services-container {
  display: grid;
  width: 100%;
}
@media (min-width: 56em) {
  .services-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.service {
  margin: 1.25em;
}
.service-text {
  text-align: center;
}
.service-text p {
  max-width: 35ch;
  margin-inline: auto;
}
.testimonials {
  margin-inline: auto;
  text-align: center;
}
footer {
  background: var(--accent-bkg);
  padding-block: 2.5em;
  margin-top: 9em;
  display: grid;
  row-gap: 0.75em;
}
@media (min-width: 40em) {
  footer {
    margin-top: 12em;
  }
}
.footer-logo {
  height: 1.5em;
  width: 3em;
  margin-inline: auto;
}
@media (min-width: 40em) {
  .footer-logo {
    display: none;
  }
}
.footer-fineprint {
  font-weight: bold;
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
@media (min-width: 40em) {
  .social-list {
    font-size: 1.5rem;
    padding: 0 2em;
    align-items: center;
  }
}
.social-link {
  margin: 0 0.5em;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  position: relative;
  cursor: pointer;
  background: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.25rem;
  width: 4.5rem;
  padding: 10px;
  border-radius: 50px;
}
.label .ball {
  background-color: var(--bkg-color);
  border-radius: 50%;
  position: absolute;
  top: 3.5px;
  left: 4px;
  height: 1.75rem;
  width: 1.75rem;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox:focus + label {
  box-shadow: 0 0 0 3px var(--accent-color);
}
.checkbox:checked + label .ball {
  transform: translateX(37px);
}
.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}
.mobile-nav-toggle {
  display: none;
}
@media (max-width: 44.9375em) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    width: var(--bar-width);
    height: calc(var(--bar-height) + var(--bar-spacing) * 2);
    cursor: pointer;
    z-index: 200;
  }

  .hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
    width: var(--bar-width);
    height: var(--bar-height);
  }

  .hamburger-menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 40%;
    background: var(--text-color);
    transition: transform 0ms 300ms;
  }
  .hamburger-menu.animate {
    background: transparent;
  }

  .hamburger-menu::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: var(--bar-spacing);
    background: var(--text-color);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu::after {
    content: "";
    position: absolute;
    top: var(--bar-spacing);
    background: var(--text-color);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu.animate::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu.animate::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
.btn {
  cursor: pointer;
  display: grid;
  place-items: center;
}
.btn span {
  width: 100%;
  font-size: 2rem;
  display: grid;
  place-items: center;
}
@media (min-width: 56em) {
  .btn span {
    font-size: 2.5rem;
  }
}
.btn span:hover,
.btn span:focus {
  transform: scale(1.2);
}
.btn:hover,
.btn:focus,
.btn-scroll:hover,
.btn-scroll:focus {
  transform: scale(1.1);
}
.btn-scroll {
  -webkit-animation: pulsate-bck 2s ease-in-out infinite both;
  animation: pulsate-bck 2s ease-in-out infinite both;
}
.btn-primary, .btn-secondary {
  background: var(--accent-color);
  width: 100%;
  max-width: 13em;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em 1.75em;
  color: var(--bkg-color);
  margin-inline: auto;
  margin-top: 4em;
}
.btn-secondary {
  max-width: 10em;
}
.btn-scroll--up {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  width: 10vmin;
  visibility: hidden;
  transition: all 0.25s;
  opacity: 0;
  z-index: -100;
}
@media (min-width: 56em) {
  .btn-scroll--up {
    bottom: 5rem;
    right: 3rem;
    width: 8vmin;
  }
}
.show-btn {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
.nav-logo {
  width: 7em;
  height: 2em;
}
.nav-links-container {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  font-size: var(--fs-sm);
}
.nav-links li {
  text-transform: uppercase;
  margin-right: 1.5em;
  position: relative;
  display: flex;
  align-items: center;
}
.nav-links li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  bottom: -5%;
  left: 0;
  background: var(--accent-color);
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
}
.nav-links li:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
@media (max-width: 44.9375em) {
  nav {
    position: fixed;
    padding: 2.5rem;
    top: 0;
    width: 100%;
  }

  .nav-logo {
    display: none;
  }

  .nav-links-container {
    position: fixed;
    inset: 0 0 0 0%;
    background-color: var(--bkg-color);
    padding: min(20rem, 15vh) 4rem;
    z-index: 10;
    transform: translateX(110%);
    transition: transform 500ms ease-in-out;
  }

  .nav-links {
    flex-direction: column;
    text-transform: uppercase;
  }

  .nav-links > li {
    padding-block: 1rem;
  }

  .nav-links-container[data-visible=true] {
    transform: translateX(0%);
  }

  .toggle-container {
    align-self: flex-end;
  }
}
.hero:hover .lens {
  -webkit-animation: color-change-5x 3s ease-in-out infinite alternate both;
  animation: color-change-5x 3s ease-in-out infinite alternate both;
}
.cartoon-wrapper {
  width: clamp(25vmin, 20vw, 45vmin);
  height: clamp(25vmin, 20vw, 45vmin);
  position: relative;
}
.cartoon div {
  position: absolute;
  box-sizing: border-box;
}
.b::before,
.a::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}
.ears {
  height: 18%;
  width: 12%;
  background: var(--squirrel);
  border-radius: 200% 180% 0 0;
  top: 10%;
}
.ears::after {
  width: 53%;
  height: 100%;
  background: var(--squirrelAccents);
  border-radius: 200% 180% 0 0;
  top: 1%;
}
.ears.left {
  left: 25%;
  transform: rotate(-30deg);
}
.ears.left::after {
  left: 2%;
}
.ears.right {
  left: 62%;
  transform: rotate(30deg);
}
.ears.right::after {
  left: 45%;
}
.hair {
  width: 10%;
  height: 15%;
  background: var(--squirrel);
  transform: skewY(40deg) rotate(5deg);
  left: 45%;
  top: 18%;
}
.hair::after {
  width: 100%;
  height: 100%;
  background: var(--squirrel);
  left: 30%;
  top: -5%;
  transform: rotate(30deg) skewY(40deg);
}
.face {
  width: 80%;
  height: 60%;
  background: var(--squirrel);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.face::before {
  background: var(--squirrelAccents);
  width: 50%;
  height: 55%;
  border-radius: 50%;
  bottom: -8%;
  left: 25%;
  border: 1px solid var(--squirrelAccents);
}
.freckles {
  width: 1.5%;
  height: 1.5%;
  border-radius: 50%;
  background: black;
  top: 46%;
  left: 45%;
  box-shadow: black 2.25vmin 0vmin, black 1vmin -1.75vmin;
}
.cheek {
  width: 58%;
  height: 56%;
  background: var(--squirrelAccents);
  top: 43%;
  border: 1px solid var(--squirrelAccents);
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
}
.cheek.left {
  left: -6%;
  transform: rotate(45deg);
}
.cheek.right {
  right: -6%;
  transform: rotate(-45deg);
}
.nose {
  top: 48%;
  left: 39%;
  width: 23%;
  height: 26%;
  background: black;
  -webkit-clip-path: polygon(50% 68%, 0 19%, 100% 19%);
  clip-path: polygon(50% 68%, 0 19%, 100% 19%);
  z-index: 3;
}
.mouth {
  width: 22%;
  aspect-ratio: 1;
  background: var(--squirrelAccents);
  clip-path: inset(48% 0 0 0);
  border: 3px solid black;
  border-radius: 100%;
  top: 49%;
  z-index: 2;
}
.mouth.left {
  left: 28%;
}
.mouth.right {
  right: 28%;
}
.teeth {
  width: 11%;
  aspect-ratio: 1;
  background: white;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  z-index: 1;
  top: 65%;
}
.teeth::after {
  height: 90%;
  width: 1%;
  background: black;
  left: 46%;
}
.sunglasses {
  width: 120%;
  height: 28%;
  left: 12%;
  top: 32%;
}
.lens {
  width: 28%;
  height: 85%;
  border-bottom-left-radius: 12vmin;
  border-bottom-right-radius: 12vmin;
  background: linear-gradient(to bottom, var(--orange) 0, var(--orange) 25%, var(--yellow) 25%, var(--yellow) 50%, var(--red) 50%, var(--red) 75%, var(--pinkPurple) 75%);
  border: 0.75vmin solid black;
}
.lens::before {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, transparent 15%, white 15%, white 30%, transparent 30%, transparent 36%, white 36%, white 44.5%, transparent 44.5%);
  border-bottom-left-radius: 12vmin;
  border-bottom-right-radius: 12vmin;
}
.lens.left {
  border-top-right-radius: 5vmin;
}
.lens.right {
  border-top-left-radius: 5vmin;
  left: 35%;
}
.arm {
  width: 5%;
  height: 25%;
  background: black;
  border-radius: 2px;
}
.arm.left {
  left: -4%;
}
.arm.right {
  left: 62%;
}
.arm::before {
  height: 40%;
  width: 40%;
  background: white;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  left: 30%;
  top: 30%;
}
.bridge {
  width: 11%;
  height: 36%;
  border-radius: 100%;
  clip-path: inset(0 0 50% 0);
  border: 0.75vmin solid black;
  top: 16%;
  left: 26%;
}
@media (max-width: 35em) {
  .mouth {
    border: 0.6vmin solid black;
    top: 49%;
  }

  .lens {
    border: 3px solid black;
  }

  .bridge {
    width: 11%;
    border: 3px solid black;
    left: 26%;
  }

  .freckles {
    left: 46%;
    box-shadow: black 2vmin 0vmin, black 1vmin -1.75vmin;
  }
}
.slides-container {
  display: flex;
  height: 12em;
  overflow: hidden;
  position: relative;
}
.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: none;
  padding-block: 2rem;
  font-size: var(--fs-sm);
}
@media (min-width: 40em) {
  .slide {
    padding: 2.5rem;
  }
}
.slide.active {
  display: block;
}
.slide > p:first-child {
  letter-spacing: 2.5px;
}
.slide > p:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}
.slide span {
  font-style: italic;
}
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 9em;
}
/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-runnable-track {
  background: var(--text-color);
  height: 0.5rem;
  border-radius: 5px;
}
/******** Firefox ********/
input[type=range]::-moz-range-track {
  background: var(--text-color);
  height: 0.5rem;
  border-radius: 5px;
}
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -20px;
  /* Centers thumb on the track */
  background-color: var(--bkg-color);
  width: 3rem;
  height: 3rem;
  background: url("https://emojipedia-us.s3.amazonaws.com/source/skype/289/fire_1f525.png");
  background-size: 80%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  cursor: pointer;
}
/***** Thumb Styles *****/
/***** Firefox *****/
input[type=range]::-moz-range-thumb {
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 0;
  /*Removes default border-radius that FF applies*/
  background-color: var(--bkg-color);
  width: 3rem;
  height: 3rem;
  background: url("https://emojipedia-us.s3.amazonaws.com/source/skype/289/fire_1f525.png");
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  cursor: pointer;
}
/***** Focus Styles *****/
/* Removes default focus */
input[type=range]:focus {
  outline: none;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]:focus::-webkit-slider-thumb {
  transform: scale(1.5);
}
/******** Firefox ********/
input[type=range]:focus::-moz-range-thumb {
  transform: scale(1.5);
}
.illustration {
  width: 30vmin;
  height: 30vmin;
  cursor: pointer;
  margin-inline: auto;
}
.illustration-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.illustration-container > div {
  position: absolute;
}
/* CAMERA */
.film {
  background: var(--illustration-primary);
  border-radius: 100%;
}
.film.one {
  top: 26%;
  left: 28%;
  height: 15%;
  width: 15%;
}
.film::before {
  position: absolute;
  content: "";
  top: 10%;
  left: 38%;
  background: var(--bkg-color);
  border-radius: 50%;
}
.film.one::before {
  height: 1vmin;
  width: 1vmin;
  box-shadow: 1.25vmin 1.25vmin var(--bkg-color), -1.25vmin 1.25vmin var(--bkg-color), 0 2.5vmin var(--bkg-color);
}
.film.two::before {
  height: 1.25vmin;
  width: 1.25vmin;
  box-shadow: 1.75vmin 1.75vmin var(--bkg-color), -1.75vmin 1.75vmin var(--bkg-color), 0 3.5vmin var(--bkg-color);
}
.film.two {
  height: 20%;
  width: 20%;
  left: 45%;
  top: 21%;
}
.body {
  top: 40%;
  left: 25%;
  background: var(--illustration-primary);
  width: 45%;
  height: 30%;
}
.body:before {
  content: "";
  position: absolute;
  background: var(--illustration-primary);
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  height: 80%;
  width: 50%;
  left: 75%;
  top: 50%;
  transform: translateY(-50%);
}
.camera:hover .film {
  -webkit-animation: rotate-center 1.9s linear infinite both;
  animation: rotate-center 1.9s linear infinite both;
}
/* SCISSORS */
.half {
  width: 90%;
  height: 30%;
  top: 35%;
  left: 10%;
  transform-origin: 45% 45%;
}
.half div {
  position: absolute;
}
.top {
  transform: rotate(15deg) scaleY(1);
}
.bottom {
  transform: rotate(-15deg) scaleY(-1);
}
.handle {
  width: 32%;
  height: 55%;
  border: 1.9vmin solid var(--accent-color);
  border-radius: 2rem;
}
.blade {
  width: 66%;
  height: 1.9vmin;
  top: 32%;
  left: 25%;
  background: lightgray;
  border-radius: 0 0 1em 0;
  z-index: -100;
}
.blade::before {
  position: absolute;
  content: "";
  left: 5%;
  bottom: 30%;
  height: 6vmin;
  width: 7vmin;
  background: lightgray;
  clip-path: polygon(0 40%, 0% 100%, 100% 100%);
}
.hinge {
  height: 1.75vmin;
  width: 1.75vmin;
  background: black;
  border-radius: 100%;
  top: 46%;
  left: 48%;
}
.scissors:hover .top {
  animation: cut-top 2s infinite linear;
  -webkit-animation: cut-top 2s infinite linear;
}
.scissors:hover .bottom {
  animation: cut-bottom 2s infinite linear;
  -webkit-animation: cut-bottom 2s infinite linear;
}
.headphone-band {
  height: 50%;
  width: 50%;
  border-radius: 100%;
  border: 2vmin solid var(--illustration-primary);
  clip-path: inset(0 0 50% 0);
  top: 20%;
  left: 25%;
}
.headphone {
  height: 30%;
  width: 15%;
  top: 55%;
  border-radius: 25%;
}
.headphone::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.headphone.left {
  transform: translateY(-50%);
  background: linear-gradient(to right, var(--illustration-secondary) 40%, var(--illustration-primary) 20%);
  left: 20%;
}
.headphone.left::after {
  background-image: linear-gradient(to right, var(--illustration-primary) 80%, var(--illustration-secondary) 20%);
  clip-path: circle(50% at 100% 50%);
  left: -80%;
}
.headphone.right {
  transform: translateY(-50%);
  background: linear-gradient(to left, var(--illustration-secondary) 40%, var(--illustration-primary) 20%);
  right: 20%;
}
.headphone.right::after {
  background-image: linear-gradient(to left, var(--illustration-primary) 80%, var(--illustration-secondary) 20%);
  clip-path: circle(50% at 0 50%);
  right: -80%;
}
.soundwaves {
  list-style: none;
  position: absolute;
  height: 5vmin;
  width: 25%;
  top: 47%;
  left: 37.5%;
}
@media (min-width: 40em) {
  .soundwaves {
    top: 50%;
  }
}
.soundwaves li {
  display: none;
  position: absolute;
  height: 3vmin;
  width: 1vmin;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.25em;
  background: var(--text-color);
}
.headphones:hover li {
  display: block;
  animation: soundwaves 1.5s infinite ease-in-out;
}
.soundwaves li:nth-of-type(1) {
  left: 0;
  animation-delay: 0.2s;
}
.soundwaves li:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.soundwaves li:nth-of-type(3) {
  left: 40%;
  animation-delay: 0.75s;
}
.soundwaves li:nth-of-type(4) {
  left: 60%;
  animation-delay: 1s;
}
.soundwaves li:nth-of-type(5) {
  left: 80%;
  animation-delay: 1.25s;
}
form {
  width: 100%;
}
.form-controls {
  height: 3em;
  width: 100%;
  padding: 15px;
  outline: none;
  border: 2px solid var(--text-color);
  margin-block: 1.5em 0.5em;
  background: var(--accent-bkg);
  font-family: inherit;
  font-size: var(--fs-body);
  color: var(--text-color);
}
form label {
  width: 100%;
}
textarea.form-inputs {
  height: auto;
  width: 100%;
}
input[type=email]:focus,
textarea:focus {
  border: 3px solid var(--accent-color);
}
::placeholder {
  color: var(--text-color);
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-color);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color);
}
.mc-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.brandingLogo {
  width: 40%;
}
@media (min-width: 40em) {
  .brandingLogo {
    margin-left: auto;
    width: auto;
  }
}
.mc-container input[type=submit] {
  margin-top: 1em;
  margin-inline: 0;
  border: none;
}
.contact-page {
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 70em) minmax(1em, 1fr);
}
section.contact-us {
  margin-top: 10em;
  display: grid;
  gap: 1em;
  grid-template-areas: "header" "text" "cartoon" "form";
}
@media (min-width: 40em) {
  section.contact-us {
    margin-top: 14em;
    column-gap: 2em;
    grid-template-areas: "header cartoon" "text cartoon" "form form ";
  }
}
.contact-header {
  grid-area: header;
  line-height: 1;
  align-self: center;
}
.contact-text {
  grid-area: text;
}
.contact-page .cartoon-wrapper {
  grid-area: cartoon;
  place-self: center;
  width: 35vmin;
  height: 35vmin;
}
@media (min-width: 56em) {
  .contact-page .cartoon-wrapper {
    width: 40vmin;
    height: 40vmin;
  }
}
.contact-page .cartoon-wrapper .lens {
  -webkit-animation: color-change-5x 3s ease-in-out infinite alternate both;
  animation: color-change-5x 3s ease-in-out infinite alternate both;
}
.form--contact {
  margin-top: 2em;
  grid-area: form;
}
.form--contact input[name=name] {
  margin-block: 0 0.5em;
}
.form--contact textarea {
  height: 16em;
}
.form--contact button {
  margin-top: 3em;
}
.footer-contact {
  margin-top: 6em;
}
.nav-thanks {
  padding: clamp(2.5em, 10vw, 4em);
}
.nav-links-thanks > li {
  margin-block: 0;
  padding-block: 0;
}
.main-thanks {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 85vh;
}
section.thanks {
  padding-inline: 0.75em;
  margin-block: 12em 8em;
}
@media (min-width: 40em) {
  section.thanks {
    padding: 3em;
    margin-block: 15em 12em;
  }
}
.thanks-text {
  margin-top: 2em;
}
.footer-thanks {
  margin-top: 0;
}
.thanks-logo {
  height: 1em;
  width: 2.5em;
  margin-inline: auto;
}
/*# sourceMappingURL=index.75039cae.css.map */
