@use "../globals/" as *;

.wave {
  -webkit-animation: wave 2.5s infinite;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.about-text p:first-of-type,
.about-text p:last-of-type {
  font-weight: bold;
}

.image-background {
  align-self: center;
  max-width: clamp(13em, 25vw + 1em, 60em);
  cursor: pointer;
  padding: 1em;
  background: whitesmoke;
  transform: rotate(5deg);
  transition: all 0.35s;
  -webkit-box-shadow: 12px 6px 11px -1px rgba(0, 0, 0, 0.42);
  box-shadow: 12px 6px 11px -1px rgba(0, 0, 0, 0.42);

  @include breakpoint-up(medium) {
  }
}

.image-background:hover {
  transform: rotate(0deg) scale(1.1, 1.1);
}

.caption {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 0.75em;
}

.about-img {
  filter: grayscale(100%);
}

.image-background:hover .about-img {
  filter: none;
}

.testimonials {
  margin-top: 6em;
  margin-inline: auto;
  text-align: center;

  @include breakpoint-up(medium) {
    grid-area: testimonials;
  }
}
