@use "../globals/" as *;

.wave {
  -webkit-animation: wave 2.5s infinite;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.about-text p:first-of-type,
.about-text p:last-of-type {
  font-weight: bold;
}

.about-image {
  height: 25rem;
  margin-top: 1em;
  background-image: url(/src/images/originaldsp.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  filter: grayscale(100%);
  transform: rotate(5deg);
}

.about-image:hover {
  transform: rotate(0deg) scale(1.1);
  filter: none;
}
