@use "../globals/" as *;

.btn-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;

  @include breakpoint-up(large) {
    margin-top: 3rem;
  }
}

.btn {
  background: var(--accent-color);
  // transition: background 500ms ease-in-out, color 200ms ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.btn span {
  width: 100%;
  font-size: 1.5rem;
  display: grid;
  place-items: center;

  @include breakpoint-up(large) {
    font-size: 2rem;
  }
}

.btn:hover {
  transform: scale(1.1);
}

.btn-scroll {
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  -webkit-animation: pulsate-bck 2s ease-in-out infinite both;
  animation: pulsate-bck 2s ease-in-out infinite both;
}

// scroll down button
.btn-scroll--down {
  width: 12vmin;

  @include breakpoint-up(large) {
    width: 7vmin;
  }
}

// our work button
.btn-square {
  max-width: 19rem;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 1.75rem;
  color: black;
}

// back to top button
.btn-scroll--up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 10vmin;
  visibility: hidden;
  transition: all 0.25s;
  opacity: 0;
  z-index: -100;

  @include breakpoint-up(large) {
    bottom: 3rem;
    right: 3rem;
    width: 6vmin;
  }
}

// show back to top btn functionality with on scroll
.show-btn {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
