@use "../globals/" as *;

.btn {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.btn span {
  width: 100%;
  font-size: 2rem;
  display: grid;
  place-items: center;

  @include breakpoint-up(large) {
    font-size: 2.5rem;
  }
}

.btn span:hover,
.btn span:focus {
  transform: scale(1.2);
}

.btn:hover,
.btn:focus,
.btn-scroll:hover,
.btn-scroll:focus {
  transform: scale(1.1);
}

.btn-scroll {
  -webkit-animation: pulsate-bck 2s ease-in-out infinite both;
  animation: pulsate-bck 2s ease-in-out infinite both;
}

// our work button
.btn-square {
  background: var(--accent-color);
  max-width: 12rem;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em 1.75em;
  color: var(--bkg-color);
  margin-inline: auto;
  margin-top: 4em;
}

// back to top button
.btn-scroll--up {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  width: 10vmin;
  visibility: hidden;
  transition: all 0.25s;
  opacity: 0;
  z-index: -100;

  @include breakpoint-up(large) {
    bottom: 5rem;
    right: 3rem;
    width: 8vmin;
  }
}

// show back to top btn functionality with on scroll
.show-btn {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
