@use "../globals/" as *;

.info-container {
  margin-top: 4rem;
  display: flex;
  //   column-gap: 10%;
}

form {
  width: 60%;
}

.form-details {
  display: flex;
  gap: 5%;
}

.form-controls {
  height: 3rem;
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 2.5rem;
  background: none;
  font-family: inherit;
  font-size: var(--fs-body);
}

form label {
  width: 100%;
}

textarea.form-inputs {
  height: auto;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 3px solid var(--text-color);
}

::placeholder {
  color: var(--text-color);
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color);
}

.locations {
  width: 40%;
}

.location.ldn {
  margin-top: 2rem;
}

address > a {
  font-style: normal;
  font-size: var(--fs-body);
}

.btn-message {
  max-width: 13rem;
}

footer {
  height: 5rem;
}
