@use "../globals/" as *;

.footer-main {
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  height: 2.5em;
  width: 5em;
}

.footer-text-header {
  margin-top: 1em;
  font-size: var(--fs-xxs);
}

.footer-fineprint {
  margin-top: 1em;
  font-weight: bold;
}

.social-list {
  order: -1;
  display: flex;
  font-size: 1.5rem;
}

.social-link {
  margin: 0 0.5em;
}
