@use "../globals/" as *;

.hero:hover .lens {
  -webkit-animation: color-change-5x 3s ease-in-out infinite alternate both;
  animation: color-change-5x 3s ease-in-out infinite alternate both;
}

.hero-layout {
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include breakpoint-up(large) {
    flex-direction: row;
    text-align: left;
  }
}

.hero-title {
  @include breakpoint-up(medium) {
    margin-top: -1.5rem;
  }

  @include breakpoint-up(large) {
    margin-top: 2.25rem;
  }
}

.hero-subtitle {
  margin-top: 1.25rem;
  padding-inline: 2rem;

  @include breakpoint-up(medium) {
    margin-top: 1.5rem;
  }

  @include breakpoint-up(large) {
    margin-top: -2rem;
  }
}

.scroll-arrow {
  margin-top: 4rem;
  display: flex;
  justify-content: center;

  @include breakpoint-up(large) {
    margin-top: 3rem;
  }
}

.arrow-container {
  width: 10vmin;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  cursor: pointer;
}

.arrow-pulse {
  position: absolute;
  opacity: 0.5;
  width: inherit;
  aspect-ratio: 1 / 1;
  background: var(--accent-color);
  border-radius: 100%;
  z-index: 1;
  -webkit-animation: pulse 2s infinite both;
  animation: pulse 2s infinite both;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7vmin;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-color);
  z-index: 2;
  border-radius: 50%;
}

.arrow::before {
  width: 7vmin;
  aspect-ratio: 1 / 1;
  position: absolute;
  content: "";
  border-radius: 50%;
  border: 3px solid var(--bkg-color);
}

.arrow > i {
  color: var(--white);
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;

    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
