@use "../globals/" as *;

.hero:hover .lens {
  -webkit-animation: color-change-5x 3s ease-in-out infinite alternate both;
  animation: color-change-5x 3s ease-in-out infinite alternate both;
}

.hero-layout {
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include breakpoint-up(large) {
    flex-direction: row;
    text-align: left;
  }
}

.hero-title {
  @include breakpoint-up(medium) {
    margin-top: -1.5rem;
  }

  @include breakpoint-up(large) {
    margin-top: 2.25rem;
  }
}

.hero-subtitle {
  margin-top: 1.25rem;
  padding-inline: 2rem;

  @include breakpoint-up(medium) {
    margin-top: 1.5rem;
  }

  @include breakpoint-up(large) {
    margin-top: -2rem;
  }
}
