@use "../globals/" as *;

.nav-wrapper {
  flex-direction: column;
  height: 100vh;

  @include breakpoint-up(large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 18vmin;
  height: 7vmin;
  background-image: url(/src/images/DSP-logo-black.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include breakpoint-up(large) {
    width: 10rem;
    height: 4rem;
  }
}

.primary-navigation {
  position: fixed;
  inset: 0 0 0 35%;
  // background: rgba(var(--bkg-color), 0.8);
  background: lightblue;
  flex-direction: column;
  flex: 0.5 0.5 auto;
  justify-content: space-between;
  padding: min(20rem, 15vh) 2rem;
  z-index: 10;
  transform: translateX(110%);
  transition: transform 500ms ease-in-out;
  @include breakpoint-up(large) {
    flex-direction: row;
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

.primary-navigation-links {
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  flex: 0.5 0.5 auto;

  @include breakpoint-up(large) {
  }
}

.toggle-container {
  align-self: flex-end;
}
