@use "../globals/" as *;

.nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: background 0.4s ease-out;
  background: none;
}

.logo {
  width: 18vmin;
  height: 7vmin;
  background-image: url(/src/images/DSP-logo-black.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.primary-navigation {
  flex-direction: row;
  flex: 0.72 0.72 auto;
  justify-content: space-between;
  align-items: center;
}

.primary-navigation-links {
  justify-content: space-between;
  flex: 0.5 0.5 auto;
  font-size: var(--fs-sm);
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

// MOBILE
@include breakpoint-down(small) {
  .logo {
    display: none;
  }

  .primary-navigation {
    position: fixed;
    inset: 0 0 0 0%;
    background-color: var(--bkg-color);
    padding: min(20rem, 15vh) 2rem;
    z-index: 10;
    transform: translateX(110%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation-links {
    flex-direction: column;
    text-transform: uppercase;
  }

  .primary-navigation-links > li {
    padding-block: 1rem;
  }

  .toggle-container {
    align-self: flex-end;
  }
}

nav.scroll {
  background: var(--bkg-alpha);
}
