@use "../globals/" as *;

nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: background 500ms ease-in-out, color 200ms ease;
}

.nav-logo {
  width: 7em;
  height: 3em;
}

.nav-links-container {
  flex-direction: row;
  flex: 0.65 0.65 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  justify-content: space-between;
  flex: 0.5 0.5 auto;
  font-size: var(--fs-xs);
}

.nav-links > li:hover {
  transform: scale(1.1);
}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bkg-alpha);
}

// MOBILE
@include breakpoint-down(small) {
  nav {
    position: fixed;
    padding: 2.5rem;
    top: 0;
    width: 100%;
  }

  .nav-logo {
    display: none;
  }

  .nav-links-container {
    position: fixed;
    inset: 0 0 0 0%;
    background-color: var(--bkg-color);
    padding: min(20rem, 15vh) 4rem;
    z-index: 10;
    transform: translateX(110%);
    transition: transform 500ms ease-in-out;
  }

  .nav-links {
    flex-direction: column;
    text-transform: uppercase;
  }

  .nav-links > li {
    padding-block: 1rem;
  }

  .nav-links-container[data-visible="true"] {
    transform: translateX(0%);
  }

  .toggle-container {
    align-self: flex-end;
  }
}
