@use "../globals/" as *;

.slides-container {
  display: flex;
  height: 9rem;
  overflow: hidden;
  position: relative;

  @include breakpoint-up(medium) {
    height: 7rem;
  }

  @include breakpoint-up(large) {
    height: 10rem;
  }
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: none;
  padding-block: 2rem;
  font-size: var(--fs-sm);

  @include breakpoint-up(medium) {
    padding: 2.5rem;
  }
}

.slide.active {
  display: block;
}

.slide > p:first-child {
  letter-spacing: 4px;
}

.slide > p:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}

.slide span {
  font-style: italic;
}

.slider {
  -webkit-appearance: none;
  height: 0.5rem;
  border-radius: 5px;
  background: var(--text-color);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  @include breakpoint-up(medium) {
    margin-top: 2.5rem;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url("https://emojipedia-us.s3.amazonaws.com/source/skype/289/fire_1f525.png");
  background-size: 80%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url("https://emojipedia-us.s3.amazonaws.com/source/skype/289/fire_1f525.png");
  background-size: 80%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}
