@use "../globals/" as *;

.slides-container {
  display: flex;
  height: 9rem;
  overflow: hidden;
  position: relative;

  @include breakpoint-up(medium) {
    height: 7rem;
  }

  @include breakpoint-up(large) {
    height: 10rem;
  }
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: none;
  padding-block: 2rem;
  font-size: var(--fs-sm);

  @include breakpoint-up(medium) {
    padding: 2.5rem;
  }
}

.slide.active {
  display: block;
}

.slide > p:first-child {
  letter-spacing: 4px;
}

.slide > p:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}

.slide span {
  font-style: italic;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--text-color);
  height: 0.5rem;
  border-radius: 5px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: var(--text-color);
  height: 0.5rem;
  border-radius: 5px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -20px; /* Centers thumb on the track */
  background-color: var(--bkg-color);
  width: 3rem;
  height: 3rem;
  background: url("https://emojipedia-us.s3.amazonaws.com/source/skype/289/fire_1f525.png");
  background-size: 80%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  cursor: pointer;
}

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: var(--bkg-color);
  width: 3rem;
  height: 3rem;
  background: url("https://emojipedia-us.s3.amazonaws.com/source/skype/289/fire_1f525.png");
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  cursor: pointer;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.5);
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.5);
}
