@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #181925;
  }
  .logo {
    filter: invert(100%);
  }
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #181925;
}

body.dark-theme .logo {
  filter: invert(100%);
}

body.light-theme {
  --text-color: #222;
  --bkg-color: #fff;
}

body.light-theme .logo {
  filter: none;
}
