.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  position: relative;
  cursor: pointer;
  background: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.4375rem;
  width: 4.6875rem;
  padding: 10px;
  border-radius: 50px;
}

.label .ball {
  background-color: var(--bkg-color);
  border-radius: 50%;
  position: absolute;
  top: 3.5px;
  left: 4px;
  height: 2rem;
  width: 2rem;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:focus + label {
  box-shadow: 0 0 0 3px var(--accent-color);
}

.checkbox:checked + label .ball {
  transform: translateX(37px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
