@use "../globals/" as *;

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline {
  margin-inline: auto;
}

.logo {
  background-image: url(/src/images/DSP-logo-black.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

nav {
  margin-inline: auto;
  padding: 1.5rem 3rem;

  @include breakpoint-up(medium) {
    padding: 2.5rem 3rem;
  }
}

.container {
  padding: 1rem;
  margin-inline: auto;
}

.hero {
  padding: 1rem;
  margin-top: 15rem;
  margin-inline: auto;

  @include breakpoint-up(medium) {
    max-width: 50em;
    margin-top: 5rem;
  }

  @include breakpoint-up(large) {
    max-width: 60em;
    margin-top: 10rem;
  }

  @include breakpoint-up(xlarge) {
    max-width: 64em;
  }
}

section {
  padding: 1rem;
  margin-top: 9rem;
  margin-inline: auto;

  @include breakpoint-up(medium) {
    max-width: 43em;
    margin-top: 10rem;
    padding: 0;
  }

  @include breakpoint-up(large) {
    max-width: 60em;
  }

  @include breakpoint-up(xlarge) {
    max-width: 82em;
    margin-top: 12rem;
  }
}

.about-grid {
  display: grid;

  @include breakpoint-up(medium) {
    grid-template-columns: 1.75fr 1fr;
    // column-gap: 1rem;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "title photo"
      "text photo"
      "testimonials testimonials";
  }
}

footer {
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  margin-block: 9rem 3rem;

  @include breakpoint-up(medium) {
    max-width: 43em;
    margin-top: 10rem;
  }

  @include breakpoint-up(large) {
    max-width: 60em;
  }

  @include breakpoint-up(xlarge) {
    max-width: 82em;
    margin-top: 12rem;
  }
}
