@use "../globals/" as *;

.flex {
  display: flex;
}

// in nav & footer
.logo {
  background-image: url(/src/images/DSP-logo-black.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

nav {
  margin-inline: auto;
  padding: 1.5em 3em;

  @include breakpoint-up(medium) {
    padding: 2.5em 3em;
  }
}

main {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 90em) minmax(1em, 1fr);
}

section {
  grid-column: 2/-2;
  margin-top: 9em;
  @include breakpoint-up(medium) {
    padding: 0 4em;
  }
}

// HERO

.hero-layout {
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include breakpoint-up(large) {
    flex-direction: row;
    text-align: left;
  }
}

.hero-title {
  @include breakpoint-up(medium) {
    margin-top: -1.5rem;
  }

  @include breakpoint-up(large) {
    margin-top: 2.25rem;
  }
}

.hero-subtitle {
  margin-top: 1.25rem;
  padding-inline: 2rem;

  @include breakpoint-up(medium) {
    margin-top: 1.5rem;
  }

  @include breakpoint-up(large) {
    margin-top: -2rem;
  }
}

// ABOUT

.about-grid {
  display: grid;

  @include breakpoint-up(medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "title title photo"
      "text text photo"
      "testimonials testimonials testimonials";
  }
}

.about-header {
  @include breakpoint-up(medium) {
    grid-area: title;
  }
}

.about-text {
  @include breakpoint-up(medium) {
    padding-right: 3em;
    grid-area: text;
  }

  @include breakpoint-up(large) {
    margin-top: 1em;
  }
}

.about-text > p {
  margin-top: 1em;
}

.about-image {
  display: flex;
  margin-top: 4em;
  justify-content: center;

  @include breakpoint-up(medium) {
    grid-area: photo;
    margin-top: 0;
    justify-content: flex-end;
  }
}

// WORK/VIDEO SECTION
.work > p {
  margin-top: 1rem;
}

.teaser {
  text-align: center;
  margin-block: 3rem 2rem;
  position: relative;
}

.emoji-container {
  display: flex;
  justify-content: center;
}

.video-container {
  margin-top: 3rem;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// SERVICES
.services-container {
  display: grid;
  width: 100%;

  @include breakpoint-up(large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service {
  margin: 1.25em;
}

.service-text {
  text-align: center;
}

.service-text p {
  @include breakpoint-up(medium) {
    padding-inline: 3em;
  }

  @include breakpoint-up(large) {
    padding-inline: 1em;
  }
}

// FOOTER

footer {
  background: var(--accent-bkg);
  padding-block: 4em;
  margin-top: 9em;
  row-gap: 1.5em;

  @include breakpoint-up(medium) {
    margin-top: 12em;
    row-gap: 0;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 80em) minmax(1em, 1fr);
  row-gap: 1.5em;

  @include breakpoint-up(medium) {
    row-gap: 0;
  }
}

.footer-main,
.social-list {
  grid-column: 2/-2;
}

.footer-main {
  text-align: center;
  @include breakpoint-up(medium) {
    padding: 0 4em;
    text-align: left;
    grid-area: 1 / 2 / 3 / 6;
    display: flex;
    flex-direction: column;
  }
}

.footer-logo {
  height: 2.5em;
  width: 5em;
  margin-inline: auto;

  @include breakpoint-up(medium) {
    margin: 0 0 1em 0;
  }
}

.footer-location {
  @include breakpoint-up(medium) {
    display: flex;
    align-items: baseline;
  }
}

.footer-text-header {
  margin-top: 1.5em;
  font-size: var(--fs-xxs);
  @include breakpoint-up(medium) {
    margin: 0 0.75em 0 0;
  }
}

.footer-fineprint {
  margin-top: 1.25em;
  font-weight: bold;

  @include breakpoint-up(medium) {
    margin-top: 3em;
  }
}

.social-list {
  order: -1;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;

  @include breakpoint-up(medium) {
    padding: 0 4em;
    order: 5;
    grid-row: 1/3;
    justify-content: flex-end;
    align-items: center;
  }
}

.social-link {
  margin: 0 0.5em;
}
