@use "../globals/" as *;

header,
footer {
  grid-column: 1 / -1;
}

.flex {
  display: flex;
}

.margin-left {
  margin-left: 0.5em;
}

// in nav & footer
.logo {
  background-image: url(/src/images/DSP-logo-black.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

nav {
  flex-direction: row;
  align-items: center;
  padding: 2.5em 4em;
  z-index: 100;
}

main {
  grid-column: 2/-2;
  padding-inline: clamp(0px, 5vw, 3.75rem);
}

section {
  margin-top: 9em;
  scroll-margin-top: 100px;

  @include breakpoint-up(large) {
    margin-top: 12em;
    scroll-margin-top: 120px;
  }

  @include breakpoint-up(xlarge) {
    margin-top: 17em;
  }
}

// HERO
.hero {
  margin-top: 21em;
  display: grid;
  grid-template-columns: max-content 1.25fr;

  @include breakpoint-up(medium) {
    margin-top: 12em;
  }
}

.hero-title {
  place-self: center;
}

.hero-subtitle {
  grid-column: 1 / -1;
}

.hero-btn {
  margin-top: 1.5em;
  grid-column: 1 / -1;
  place-self: center;
}

// ABOUT
.about-grid {
  display: grid;

  @include breakpoint-up(medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    row-gap: 1em;
    grid-template-areas:
      "title title title"
      "text text photo";
  }

  @include breakpoint-up(large) {
    grid-template-areas:
      "title title photo"
      "text text photo";
  }
}

.about-header {
  @include breakpoint-up(medium) {
    grid-area: title;
  }
}

.about-image {
  height: 50vh;
  width: 100%;
  margin: 4em auto;
  background-position-x: center;
  background-image: url(/src/images/originaldsp.jpeg);
  background-repeat: no-repeat;
  background-size: 90%;
  filter: grayscale(100%);
  transform: rotate(5deg);

  @include breakpoint-up(medium) {
    grid-area: photo;
    margin-top: 3em;
    transform: rotate(5deg) translateY(-25px);
  }
}

.about-image:hover {
  transform: rotate(0deg) scale(1.1);
  filter: none;
}

.about-text {
  @include breakpoint-up(medium) {
    padding-right: 3em;
    grid-area: text;
  }

  @include breakpoint-up(large) {
    margin-top: 1em;
    padding-right: 8em;
  }
}

.about-text p {
  margin-top: 1.5em;
}

// WORK/VIDEO SECTION
.work > p {
  margin-top: 1.5em;
}

.cards-grid {
  margin-top: 4em;
  display: grid;
  grid-template-areas:
    "video"
    "strapline"
    "first"
    "second"
    "third"
    "fourth"
    "last";
  gap: 1em;

  @include breakpoint-up(medium) {
    grid-template-areas:
      "video video video"
      "strapline strapline strapline"
      "last first first"
      "second first first"
      "third fifth fourth";
  }

  @include breakpoint-up(large) {
    grid-template-areas:
      "video video video"
      "strapline strapline strapline"
      "first second third"
      "last fourth fourth"
      "fifth fourth fourth";
  }
}

.card-video {
  grid-area: video;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.card-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards-grid h4 {
  grid-area: strapline;
  text-align: center;
  padding-block: 4em;
}

.card:nth-of-type(2) {
  grid-area: first;
}
.card:nth-of-type(3) {
  grid-area: second;
}
.card:nth-of-type(4) {
  grid-area: third;
}

.card:nth-of-type(5) {
  grid-area: fourth;
}

.card:nth-of-type(6) {
  grid-area: last;
}

.card {
  display: grid;
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 5px;
}

.card-img {
  object-fit: cover;
  aspect-ratio: 1/1;

  @include breakpoint-up(medium) {
    aspect-ratio: 1/ 1.25;
  }
}

.card-content {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-family: var(--ff-josefin);
  font-weight: 800;
  color: #f8f8ff;
  cursor: pointer;

  transition: all 0.5ms ease-in-out;

  @include breakpoint-up(medium) {
    text-align: center;
    padding-inline: 1.25em;
  }
}

.card-content:focus,
.card-content:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

// SERVICES
.services-container {
  display: grid;
  width: 100%;

  @include breakpoint-up(large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service {
  margin: 1.25em;
}

.service-text {
  text-align: center;
}

.service-text p {
  max-width: 35ch;
  margin-inline: auto;
}

.testimonials {
  margin-inline: auto;
  text-align: center;
}

// FOOTER

footer {
  background: var(--accent-bkg);
  padding-block: 4em 2em;
  margin-top: 9em;

  @include breakpoint-up(medium) {
    margin-top: 12em;
  }
}

.footer-main {
  grid-column: 2/-2;
  display: grid;
  row-gap: 0.75em;

  @include breakpoint-up(medium) {
    padding: 0 4em;
    align-items: center;
    row-gap: 1.5em;
  }
}

.footer-logo {
  height: 2em;
  width: 5em;
  margin-inline: auto;

  @include breakpoint-up(medium) {
    display: none;
  }
}

.footer-fineprint {
  font-weight: bold;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;

  @include breakpoint-up(medium) {
    font-size: 2rem;
    padding: 0 2em;
    align-items: center;
  }
}

.social-link {
  margin: 0 0.5em;
}
