:root {
  --cream: 250, 243, 221;
  --darkBlue: 24, 25, 37;

  --bkg-dark: rgba(var(--darkBlue));
  --bkg-light: rgba(var(--cream));
  --bkg-alpha-dark: rgba(var(--darkBlue), 0.9);
  --bkg-alpha-light: rgba(var(--cream), 0.9);

  // LIGHT COLOR SCHEME
  --text-color: #222;
  --bkg-color: var(--bkg-light);
  --bkg-alpha: var(--bkg-alpha-light);
  --bkg-color-toggle: #181925;
  --accent-bkg: #efe7be;
  --accent-color: #ec058e;
  --illustration-primary: #222;
  --illustration-secondary: #ec058e;

  //   squirrel animation
  // --squirrel: #5f5d5d;
  // --squirrelAccents: #cdcaca;
  --orange: #eca928;
  --yellow: #edde4c;
  --red: #fd689a;
  --pinkPurple: #ca4deb;
  --purple: #b22cff;
  --lightBlue: #19dcea;
  --squirrel: #707070;
  --squirrelAccents: #cdcdcd;

  //   basic
  --white: rgb(255, 255, 255);
  --transparent: transparent;
  --black: #000000;

  // toggle sizing
  --bar-width: 32px;
  --bar-height: 2.5px;
  --bar-spacing: 8px;

  //   FONTS

  // families
  --ff-josefin: "Josefin Sans", sans-serif;
  --ff-titillium: "Titillium Web", sans-serif;

  // font-sizes
  --fs-body: 1rem;
  --fs-xxs: 0.75rem;
  --fs-xs: 1.55rem;
  --fs-sm: 1.55rem;
  --fs-med: 1.75rem;
  --fs-lg: 1.75rem;
  --fs-xl: 2.25rem;

  @media (min-width: 45em) {
    --fs-sm: 2.1rem;
    --fs-med: 2.25rem;
    --fs-lg: 3.5rem;
    --fs-xl: 4.5rem;
  }

  @media (min-width: 64em) {
    --fs-xxs: 1.1rem;
    --fs-sm: 1.25rem;
    --fs-med: 2.25rem;
    --fs-lg: 4rem;
    --fs-xl: 6rem;
  }

  @media (min-width: 90em) {
    --fs-body: 1.25rem;
    --fs-xs: 1.75rem;
    --fs-sm: 2.5rem;
    --fs-med: 3rem;
    --fs-lg: 5rem;
    --fs-xl: 6rem;
  }
}

[data-theme="dark"] {
  --text-color: #f8f8ff;
  --bkg-color: var(--bkg-dark);
  --bkg-alpha: var(--bkg-alpha-dark);
  --accent-bkg: #2c2e44;
  --accent-color: #c2e812;
  --illustration-primary: #c2e812;
  --illustration-secondary: #f8f8ff;

  --squirrel: #707070;
  --squirrelAccents: #cdcdcd;

  .logo {
    filter: invert(100%);
  }
}
